#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#clock {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  margin: 10px;
  width: 110px;
  text-align: right;
}

#count {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  margin: 10px;
  width: 110px;
  text-align: right;
  top: 30px;
}

.about {
  background-color: #3C3C3C;
  opacity: 1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  z-index: 2;
}

#modal {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
}

.legend {
  display: none;
  flex-direction: column;
  border: 1px solid #333333;
  width: 110px;
  position: absolute;
  top: 0%;
  left: 42%;
  padding: 5px;
  margin: 5px;
  z-index: 1;
  background-color: #CCCCCC;
  opacity: .85;
  font-size: small;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3C3C3C;
  font-family: 'Cardo', serif;
  color: white;
}

body {
  display: flex;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input#time {
  font-size: 14px;
  font-family: 'Cardo', serif;
  margin-bottom: 10px;
  border: none;
  padding: 5px;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.left {
  width: 66%;
  margin: 25px;
  position: relative;
  text-align: center;
}

.options {
  display: inline-flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

input, label {
  cursor: pointer;
  vertical-align: center;
}

button {
  border: 0;
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

i:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

i {
  transition: 0.3s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.magenta {
  color: magenta;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
