html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3C3C3C;
  font-family: 'Cardo', serif;
  color: white;
}

main {
  display: flex;
}

#about {
  cursor: pointer;
  transition: 0.3s;
  width: 25%;
  margin: 0 auto;
}

#about:hover {
  color: #CCC;
  transition: 0.3s;
}

#chart {
  margin: 50px;
  text-align: center;
}

#clock {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  margin: 10px;
  width: 110px;
  text-align: right;
}

#count {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  margin: 10px;
  width: 110px;
  text-align: right;
  top: 30px;
}

#loading {
  display: none;
  margin-bottom: 15px;
}

#map {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#modal {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

button {
  border: 0;
  background-color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #CCC;
  transition: 0.3s;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

i {
  transition: 0.3s;
}

i:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

input, label {
  cursor: pointer;
  vertical-align: center;
}


input#time {
  font-size: 14px;
  font-family: 'Cardo', serif;
  margin-bottom: 10px;
  border: none;
  padding: 5px;
}

svg {
  background-color: white;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about {
  background-color: #3C3C3C;
  opacity: 1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  z-index: 2;
}

.blue {
  color: blue;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-cog {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  font-size: 2em;
  margin: 5px;
}

.green {
  color: green;
}

.icons {
  font-size: 1.5em;
}

.left {
  width: 66%;
  margin: 25px;
  position: relative;
  text-align: center;
}

.legend {
  display: none;
  flex-direction: column;
  border: 1px solid #333333;
  width: 110px;
  position: absolute;
  top: 0%;
  left: 42%;
  padding: 5px;
  margin: 5px;
  z-index: 1;
  background-color: #CCCCCC;
  opacity: .85;
  font-size: small;
}

.magenta {
  color: magenta;
}


.options {
  display: inline-flex;
  flex-direction: column;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
