#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#clock {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  margin: 10px;
  width: 110px;
  text-align: right;
}

#count {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  margin: 10px;
  width: 110px;
  text-align: right;
  top: 30px;
}

#legend, #gender-legend {
  display: none;
  flex-direction: column;
  border: 1px solid #333333;
  width: 110px;
  position: absolute;
  top: 0%;
  left: 42%;
  margin: 5px;
  z-index: 1;
  background-color: #CCCCCC;
  opacity: .85;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  font-family: 'Cardo', serif;
}

body {
  display: flex;
}

ul, li {
  list-style: none;
  padding: 0;
}

li > ul {
  display: flex;
  font-size: small;
}

li > ul > li {
  margin: 5px;
}

.left {
  width: 66%;
  margin: 25px;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

input, label {
  cursor: pointer;
  vertical-align: center;
}

.magenta {
  color: magenta;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
