#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#clock {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  margin: 10px;
  width: 110px;
  text-align: right;
}

#count {
  position: absolute;
  right: 0%;
  padding: 10px;
  color: white;
  margin: 10px;
  width: 110px;
  text-align: right;
  top: 30px;
}

#legend {
  position: absolute;
  right: 50%;
  font-size: small;
  padding: 10px;
  background-color: rgba(100, 100, 100, 0.5);
  margin-top: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  font-family: sans-serif;
}

body {
  display: flex;
}

ul, li {
  list-style: none;
  padding: 0;
}

li > ul {
  display: flex;
  font-size: small;
  text-align: center;
}

li > ul > li {
  margin: 5px 0 0 20px;
}

.left {
  width: 66%;
  margin: 25px;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

input, label {
  cursor: pointer;
  vertical-align: center;
}

.magenta {
  color: magenta;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
